<p>(TLDR Review at the bottom, as always, thanks for reading)</p>
<p>
  Obligatory Dream moment note:<br />
  <span class="markdown_spoiler"
    ><span
      >Also, according to Anilist statistics, only a small percentage of people
      reading this review, are actually followed. So if you ended up liking this
      review, consider following, it's free, you can always unfollow later.
      Enjoy the review :)</span
    ></span
  >
</p>
<h1>
  <strong
    >ALSO YES I TALK ABOUT THE DAMN ENDING. READ BEFORE JUDGING SCORE THO
    BRUH.</strong
  >
</h1>
<hr />
<center>Intro:</center>
<p>Despair. Anger. Secrets. Betrayal. Disappointment. Power. Freedom.</p>
<p>I could keep going forever. Unfortunately, I have a review to make.</p>
<p>
  POV: You are a survey corps member, in front of a 12-meter titan, you are the
  only person within your visibility radius, your comrades have fallen, you
  don't know if other threats linger around. The only question passing through
  your head is, "will this be the end?".
</p>
<p>
  You could run away, you could try to fight it, you could sit there paralysed
  at the shock that has shaped your nervous system, maybe even hoping someone
  would come your way to save you. Or something else may happen, something
  peculiar like the titan suddenly skipping you out heading on to the next
  destination it has in mind, or maybe, it suddenly starts attacking another
  titan. In this world of Attack on Titan, when you feel like you have all the
  pieces together. You are suddenly thrown back down to zero. You just don't
  know what will happen next.
</p>
<p>
  Isayama's Attack on Titan is a world where humans aren't at the top of the
  food chain, stories like these tend to be the most interesting diving into the
  different actions people take when faced with such hierarchical order, and
  with such stories, the human action is rather interesting to view. We are
  intelligent creatures with the ability to reason, but we also have our
  emotional sides to us which may hinder us when proceeding to take logical
  actions, in addition, some of us are 'good' people, others of us are 'bad'.
  Not only can we hinder ourselves with emotion, but we can also blatantly do
  what is morally wrong, and optimistically right for that matter, in the name
  of our own selfish desires, and that is what Attack on Titan can show us. In a
  world where humanity has been decimated to the point where they literally had
  3 walls barricade them from their predators, living within them for many
  years, "safe", there are still some people that have the will to fight, an
  irrational fighting spirit, but one useful nonetheless. In the face of a
  matter of time until absolute obliteration. People still fight, some chance is
  better than no chance after all. But when the stats add up, and you see that
  most of the time, your side ends in failure, what is the reason to continue
  going? And even if you do somehow miraculously succeed. Are the losses worth
  it? How can you be sure that the aim you are heading for is one that won't
  lead to disappointment or even the complete opposite of what you hoped for?
  Attack on Titan is a great story, and probably one of the best, at telling a
  tale based on this premise. Relative to this fictional world, as weak feeble
  beings, we still go on forward, even when the odds are against us. People push
  on. You have probably heard this so many times over that it is uncountable,
  but Attack on Titan is believable, maybe even realistic with this situation it
  gives. Sometimes it is not even a question of who will win/lose, sometimes it
  is a question of is this even the correct battle to be fighting.
</p>
<hr />
<center>Narrative:</center>
<p>
  Attack on Titan's start isn't the best thing it has to offer, if anything, it
  comes across as rather generic. Young bratty ignorant child hates the world
  and wants what is supposedly rightfully his. Even the characters at this point
  are pretty basic with their one-dimensional personalities being layered with
  conspicuous ideals that are given at a constant, even though most readers
  probably got it the first 7 times already. It is rather slow to get into the
  more interesting sections which start around the Female Titan Arc, where we
  are really starting to question what the hell is going on in the world given.
  Other than that the start also gives a lightly fogged world to look into. The
  entire idea of the world of being trapped like birds in the cages was already
  questioned in the start, it makes you think, why is that. You can tell it has
  been happening for so long as well considering the residents constantly
  complain at the failure the Survey Crops give with each passing mission.
  People are still fighting, it has been like that for as long as who knows. But
  these titans just seem to come in endless swarms like they were Minecraft
  mobs. But that is all the noticeable things the start has to offer. The
  execution of it all was quite slow and takes a little getting into before you
  can get to the parts that really make Attack on Titan what it is, or at least
  the main part of it.
</p>
<p>
  As said, the Female Titan Arc is when things get interesting, the story
  doesn't straight up tell you what is going on, you have to decipher it for
  yourself. It is pretty easy to understand where the secrets lie when those
  unanswered questions do come up, however, those only bring more questions
  unanswered. For example, understanding human-controlled titans exist only
  leads to the question of "who exactly broke the wall", "why did they", "where
  did they get this power to do such". When you feel like you finally feel like
  you have understood this damned world, you are spontaneously thrown back in
  the dark. It is just so engaging that you continue reading indefinitely. I am
  one of those people that read things, gets about a tenth of the way through,
  and then just moves on to some other story I find interesting, I can't say the
  same for Attack on Titan. It kept me occupied for quite a while. We can ignore
  the fact that I started reading the entire thing in the middle of September
  2020 so I could get up to date for reasons of being impatient to wait for the
  anime, and there is this weird irrational feeling of need to feel like someone
  who knows everything because manga readers are like that at times. Though
  seriously, it does keep you drawn in its content because it plays with the
  mystery so well. Things continue to stay immersing as well. Most of the time,
  stories like Attack on Titan fail to stay enthralling because of how fast they
  give out information to the reader. It is kinda just hurled towards you
  without any second guesses, and you are expected to stay read on even though
  you might as well guess the ending considering you have a 70% chance of
  getting it right anyway, assuming you have read/watched a significant amount
  of anime/manga. Attack on Titan is different however and is one of the few
  stories I have come across that is exceptional at sustaining mystery, and it
  does it for so long too. People left and right you are not expecting to be a
  threat to humanity, abruptly switch up without leaving behind any real
  explanation you need for your lingering questions, and sometimes it isn't
  just, "Oh, I didn't did know X was going to be a titan", there is also humans
  in unprecedented powerful positions and other insane backstories to add on to
  the glory the story has quite the innovation.
</p>
<p>
  I won't get too much into how the story closes, what I will say however is
  that it is vastly different from the rest of Attack on Titan before the Marley
  Arc. Everything has been answered, or at least everything relevant to what has
  happened prior, changes happen all over the place, and you understand that you
  are in the final stage, or the endgame if you like. Admittedly, this wasn't
  what I expected, I expected full out action throughout the entire thing, with
  an Avengers Endgame type finale as the cherry on top, but I guess I can say
  that I am still satisfied that it wasn't. It would have been nice, but Attack
  on Titan stays true to its glory. For those who would get easily disappointed
  by pure action taking away the value of a story, I can say wholeheartedly you
  needn't worry. However… enter the Final Arc.
</p>
<p><em>The</em> ending. Like. <em>That</em> ending.</p>
<p>
  What controversy. I don't know if I will see a community reaction like this
  again. I will be honest. I can't say I am happy with Isayama's decisions on
  the Final Arc, everything was going so well and then it just happened to break
  away slowly from the glory given before. Many fans call the arc worse than GOT
  S8, others say it ruined AOT, others say that this arc is amazing, hell, just
  about every opinion is here with this controversial arc. I myself find it a
  disheartening arc in that it doesn't really meet expectations I have, it's not
  shit as people will tell you it is, that is blind hate with no real analysis,
  but not spectacular either, there are flaws, I will gladly call out on when I
  must. For anyone new to this manga, I have tried to make this review
  spoilerless, but what I will say is that you may find yourself like me, not
  loving the ending, but not hating it with passion either. Really, with
  chapters coming in on a monthly basis, hyping will inevitably meet major
  disappointments if you see something you rather you wouldn't. That is
  essentially what has happened in this case. But enough about that though.
  Whilst the cherry on top has gone bad, the entire cake is still fresh and
  ready to feast on. Otherwise, as r/titanfolk would say,
  <a href="https://www.youtube.com/watch?v=IVfK7G0QT1U">"Akatsuki no Copium"</a
  >.
</p>
<p>
  Now for characters. By no means awful, the worst thing Attack on Titan had to
  offer. They started out as plain as possible, but as the story proceeded, they
  did become better on the whole. I really have no complaints with them other
  than the start. I could go on endlessly with a character analysis for each and
  every individual. But for this review, I will stick to the main trio, whilst
  briefly going over the other important characters.
</p>
<p>
  Eren, probably one of the best characters to exist, it is completely ironic to
  what he is at the start of the story. Really. This guy is the textbook
  definition of that one kid at school people laugh at and doubt, who ends up
  making it into the history books as top 10 people who shaped the world. If it
  were real life, he would be up there with leaders of former superpower
  empires. Of course, it does not happen instantaneously, you need to converge
  yourself in the journey for full effect, see how he takes up such a drastic
  evolution. But it is all funny really, you would never guess a crybaby kid
  like him who thinks he is always right, turn the tables around while never
  actually touching the tables. What I mean is, when he says he will do
  something, he will do everything in his power to do so, taking no one else
  into account, and where does that lead him. Quite the dangerous path actually,
  but one that should have been seen since the very beginning. It is just
  amazing to see such a guy grow.
</p>
<p>
  Now we have Mikasa. <em>sigh</em>. I will get straight to the point, I like
  cold gloomy girls like Mikasa, but she is just all the wrong things slapped
  into a super-soldier. Probably the worst character in the entire story.
  Everything she does is in the name of Eren, sticking to the guy like that 2p
  coin I superglued under my table a few years ago. Her affection for Eren is
  why she sucks so much because that is all she is. She has no humanity for
  herself so much so that I cannot remember a single original thought or
  interest coming from the girl without the influence of Eren, not that Eren
  even makes her think about things that have nothing to do with him anyway. I
  understand that Eren quite literally saved her life. But even so, with the
  amount of shit most characters have been through, it is clear that they care
  for each other, characters that have been through more or less than Mikasa
  still show some sympathy in their actions, even those with similar
  personalities her. It literally feels like Isayama just remembered he learnt
  Python a while back and whipped up simple code, plugged it into her brain for
  her to function so that every time Eren appeared she would go dere dere mode.
  Other than that, I can't really say I like her a lot. What a waste of a great
  character, not that her backstory made up for it considering how irrelevant it
  became in the realm of Mikasa's mind. What a waste of a great waifu too.
</p>
<p>
  Armin. Heh. I can't really put my finger at where he would be in terms of how
  great of a character he is. Although his physical weakness is a downside to
  him, he has good qualities about himself, being very intelligent as well as
  possessing the ability to freely think and make good judgement, but it was
  tragic how little attention he had, or should I say, the lack of engaging
  moments he has, which inevitably worsened his profile. I can't really say it
  was his fault, but for someone who is supposedly the MC, not much insight is
  given to him other than what he can do. Nothing about the guy is special other
  than he is Eren's childhood friend with that big dream of seeing the vast
  beauty of the world's landscapes. But even those with no connection similar to
  Eren as he has, have some detail behind themself as well as their motives.
  Armin just kinda exists and is used when he is convenient to the situation.
  Everyone in this world is suffering, but the guy may as well be mistaken for
  some citizen in the crowds because seriously, I don't see where he is
  different from the rest other than his usefulness. I really wanted to like the
  guy but I was never given a chance to, quite upsetting but it is what it is.
</p>
<p>
  Secondary characters are very impressive in the story, they have the same
  importance as the main three, so they weren't slept on or anything like that.
  Characters like Erwin and Levi have that clear dedication to themselves in
  what they do, and what makes them better characters is that even though they
  have high positions within the military, they are still like every character
  left in the dark about the truth within and beyond the walls. But that doesn't
  stop them from going on to wanting to learn more, although Levi isn't as
  ambitious as Erwin, despite this, they both have the same curiosity even if it
  doesn't look like it. Strong characters mentally and physically, I personally
  prefer Erwin's character since Levi is just an overpowered super soldier
  compared to Erwin as one of the best members to exist in the entire military's
  existence. Everything about the man is moving forward and maintaining correct
  order for the people, the dedication from him is on an unprecedented level.
  Hange is a great character too, I like their personality a lot, but their
  development is very slow given the circumstances in the story, they didn't
  have enough time to develop into some beast of a character, rather, in the
  end, Hange was a fine line between the past and present version of themself.
  Generalisation here, but characters Jean, Connie, Sasha, Annie, Ymir, Krista,
  Reiner, Bertholdt, Gabi, Falco, Pieck were all good characters in their own
  right, like every other character they all had suffering to endure through,
  and towards the end, they go through a noticeable difference to how they
  started off as. I don't think any of these characters are forgettable, quite
  the opposite if anything.
</p>
<p>
  All in all, every major character in the story plays their part to a high
  standard, I have missed out on quite a few characters but despite doing so,
  each and all individuals felt human and had realistic dialogue whilst
  conversing.
</p>
<hr />
<center>Art:</center>
<p>
  Do I really need to ramble on about art? Everything has been made with great
  detail to a high standard. Character designs are on point, flashy action
  scenes aren't just pure flashy content, there is attentive detail to character
  motion. What I will say, however, is that the art style looks ever so scratchy
  or scruffy. Not that it was a bad thing, it just gives Attack on Titan its
  differentiation from other manga that may fall into the same category, such as
  those that are outright madness (Chainsaw Man for example), but not that it is
  smooth as your general shounen manga (My Hero Academia for example). Plenty of
  great panels to just capture the scene throughout the entire duration.
</p>
<p>
  Even snatching off random panels from Google Images will do the trick. As I
  will prove with:
</p>

<img width="600" src="https://pbs.twimg.com/media/EcQesD8WAAE1Udr.jpg" />

<img
  width="600"
  src="http://multiversitystatic.s3.amazonaws.com/uploads/2016/03/Colossus-Titan.jpg"
/>

Marley arc and after spoiler images:
<span class="markdown_spoiler"
  ><span>
    <img width="600" src="https://pbs.twimg.com/media/ErdTAtaXYAITVNm.png" />
    <img
      width="600"
      src="https://thereviewmonster.files.wordpress.com/2020/07/2020-07-08-e1594284440815.png"
    /> </span
></span>
<center>
  <hr />
</center>
Enjoyment:
<center>
  Attack on Titan's enjoyment is well built. When I say this I mean that the
  world it is set in is real. As in, everything that has been made isn't just,
  cannon goes boom, projectile goes hit, people go slash. There is a genuine
  thought out function to how things work, like the 3D manoeuvre gear works, how
  the cannons work, why there are little districts sticking out of the wall, why
  beef is a delicacy. All of it. Everything has some deep meaning to them. I
  find it great on Isayama's behalf to put so much effort into the little things
  that will probably woooosh over your head because, admittedly, who cares how
  something like that works or functions. Even so, the effort to make such a
  decision sets the world already before you have even started, whilst you may
  question why this isn't in the narrative section of the review, I think this
  mostly can come down to enjoyment too in that the little things of the story
  make you look and think "wow" or "great work there Yams". Most of Attack on
  Titan is very enjoyable in the sense that as well as the story themes, the
  reactions you take from them are also something to look at. When an event
  happens, you yourself are allowed to question whether or not said person is
  doing the right thing or not, and there'd be no wrong answers. Take that as
  your thoughts towards a character or an entity and you are in a position where
  you love or hate something due to what it has done so far. Attack on Titan has
  done this implicitly and explicitly, one explicit community example boils down
  to a "who's side or you on". Very clear split between who is ever on the
  spectrum. I don't see a lot of manga doing this so Attack on Titan has a lot
  to give with internal and external enjoyment for all. A two in one I wouldn't
  dash toward the side. As well as this, there are just general hype scenes, who
  doesn't like a good tatakae moment or a battle between two OP characters. It's
  all in here in this manga.

  <hr />
</center>
TLDR Review:
<center>
  Story - 95: Slow start, but the mystery is played with well. You have no idea
  about what will happen next. VERY QUESTIONABLE ending. Art - 100: Great art
  that is used throughout regardless of the time within the manga. Character -
  95: Weak start, generic if you want. But the character development is real.
  Only 2 characters that don't quite fit the bill, but everything else makes up.
  Enjoyment - 95: Again, slow at some parts. But overall very interesting, you
  are just engaged with whatever the hell is going on. Also great worldbuilding,
  top tier level.

  <hr />
</center>
Final Words:
<center>
  Well, what can I say? I started Attack on Titan like most others did, with the
  anime. I started a bit later in 2014 though. I didn't watch it for a long
  minute until about 2019 where I went and watched the series from season 2 to
  season 3 part 2, finishing Final Season part 1. I can say that I have still
  maintained a positive overview of the series after such a while. I would
  recommend this to everyone and would go as far as to recommend this to anyone
  new to manga (and anime), it is one of those stories that will make it into
  the top 10 countless times, the series that defined anime of the 2010s, the
  only series able to allow places like r/titanfolk to exist, though admittedly,
  I wouldn't call it the best anime or manga in the world. That is a debate for
  another time. It is just very good, a "masterpiece" if you want to go that
  far. This part is in italics as a quick real-time note whilst I'm about to
  upload this, if you are here for a genuine review, please skip this comment of
  mine. I wrote this review long ago and just waited for the final chapter to
  come out to drop this, yes, I talked about the ending in the narrative
  section, but here is a more organic comment if you like. The ending obviously
  has changed what I think about AOT a lot, but logically thinking, whilst the
  ending does have major importance, IT IS NOT THE WHOLE THING, I myself, will
  admit, the ending isn't good, but it isn't bad either, it was a meh in my
  eyes. I have a lot to say about the ending, if you catch me on forums, feel
  free to comment on what I think about it. A reaction like this was expected,
  but I just didn't really prepare this review for that lol. Overall, AOT is
  still incredibly good, and yes, it doesn't play out well, but we forget that
  monthly releases and hype to the end will impact what we say. Sometimes the
  community curses thoughts, but really and truly, AOT was very fun to read,
  everything was executed nicely despite a disheartening ending. And so, as the
  journey comes to a close, I leave you with some memorable lyrics, where it all
  started: "Sie sind das Essen und Wir sind die Jäger!"
</center>
Overall - 96.3/100~~~ If you are not going to read the review and just see if
the score I gave correlates to the ending. Just read the italics section I put
lol.
