@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  /* component: animeList */
  body {

  }
  .anime-list-container {
    @apply px-0 py-5 w-11/12 mx-auto;
  }

  .anime-list-container h2 {
    @apply py-5 text-3xl font-medium;
  }

  .anime-list {
    gap: 10px;
@apply grid grid-cols-2 ssm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4;

  }

  .anime-card-container {
    min-height: 30vh;
      @apply  text-center relative cursor-pointer rounded-md overflow-hidden;
  }

  .anime-card-container img {
      @apply w-full h-56 object-cover rounded-md;
  }
  .anime-card-container h3 {
      @apply  text-white absolute bottom-0 leading-tight
      bg-gray-800 bg-opacity-50 w-full;
  }
  


  html::-webkit-scrollbar{
      width:0.5rem;
  }
  html::-webkit-scrollbar-thumb{
      background-color:darkgray;
  }
  body{
      font-family: "Montserrat", sans-serif;
  }
  h2 {
      font-family: 'Abril Fatface', cursive;
  }




  /*  Page: AnimeDetail */


  .detail-grid-container {
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 1.4fr 1fr;
    grid-template-areas:
    "header header header header header"
    ".....  main  main  sidebar ....."
    ".....  main  main  sidebar ....."
    ".....  relate relate sidebar ....."
    ".....  watch  watch  sidebar ....."
    "footer footer  footer footer footer ";
    @apply gap-x-2 gap-y-7 md:gap-5 
  
  }



    @media screen and (max-width: 1024px) {
      .detail-grid-container {
        grid-template-columns: 0.3fr 10fr 10fr 7fr 0.3fr;
        grid-template-areas:
        "header header header header header"
        ".....  main  main  sidebar ....."
        ".....  main  main  sidebar ....."
        ".....  relate relate sidebar ....."
        ".....  watch  watch  sidebar ....."
        "footer footer  footer footer footer ";
      }
      }

      @media screen and (max-width: 640px) {
        .detail-grid-container {
          grid-template-columns: 1fr 50fr 1fr;
          grid-template-areas:
          "header header header"
          "..... main    ....."
          "..... sidebar ....."
          "..... relate  ....."
          "..... watch   ....."
          "footer footer footer";
        }
        }

        

  .d-header { 
    grid-area: header;
    @apply   bg-gray-400
  }
  .d-sidebar {
    grid-area: sidebar;
    min-width: 260px;
    
  }
  .d-main {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    grid-area: main;
    @apply   text-base text-gray-700 p-3 md:p-10
  }
  .d-relate {
    font-size: 10px;
    grid-area: relate;
  }
  .d-watch {
    font-size: 10px;
    grid-area: watch;
  }
  .d-footer {
    font-size: 10px;
    grid-area: footer;
    @apply  bg-yellow-500;
  }

  .d-header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      @apply text-center overflow-hidden h-60 sm:h-44 md:h-60 lg:h-72 xl:h-96 ;
  }

  .banner-inside{
    background-color: rgba(0, 0, 0, .2);
    @apply h-full flex flex-col content-center justify-center;
  
  }

  .detail-title {
  border-radius: 50% 20% / 10% 40%;
    @apply text-red-100 text-xl font-semibold  m-auto bg-opacity-20 py-3 px-6
    sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl line-clamp-1  leading-snug ;
  }

  .detail-cover-image{
    @apply w-full  sm:-mt-20  lg:-mt-28 shadow-3xl border-4 rounded-sm
    border-dashed;
  }


  .d-sidebar{
    @apply flex flex-col ssm:mx-16 sm:-mx-0
  }

  .stream-show-more-btn{
    @apply text-2xl bg-gray-200 hover:bg-gray-400 active:bg-gray-600 active:text-white
    rounded-2xl px-5 py-1 block mx-auto shadow-3xl border-collapse ring-2 ring-gray-400 focus:outline-none focus:ring-offset-gray-600 active:shadow-inner mt-5;
  }

  /* .rank {
    border-left: 10px solid;
  } */

}

.some {

 
}

.pie1 {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.pie2 {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

