@layer components {
      

  .detail-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1.4fr 1fr;
    grid-template-rows: auto min-content auto auto max-content;
    grid-template-areas:
      "header header header header header"
      ".....  main  main  sidebar ....."
      ".....  relate relate sidebar ....."
      ".....  watch  watch  sidebar ....."
      ".....  .....  .....  sidebar ....."
      "..... recom  recom recom ..... ";

    @apply gap-x-2 gap-y-7 md:gap-5 h-full;
  }

  @media screen and (max-width: 1024px) {

    .detail-grid-container {
      grid-template-columns: 0.3fr 10fr 10fr 7fr 0.3fr;
      grid-template-areas:
        "header header header header header"
        ".....  main  main  sidebar ....."
        ".....  relate relate sidebar ....."
        ".....  watch  watch  sidebar ....."
        ".....  .....  .....  sidebar ....."
        "..... recom   recom   recom     ..... ";
    }
  }

  @media screen and (max-width: 640px) {
    .detail-grid-container {
      grid-template-columns: 1fr 50fr 1fr;
      grid-template-areas:
        "header header header"
        "..... main    ....."
        "..... sidebar ....."
        "..... relate  ....."
        "..... watch   ....."
        "recom recom recom";

    }
  }

  .d-header {
    grid-area: header;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @apply bg-gray-400 text-center overflow-hidden h-60 sm:h-44 md:h-60 lg:h-72 xl:h-96;
  }
  .d-sidebar {
    grid-area: sidebar;
    min-width: 260px;
    @apply flex flex-col ssm:mx-16 sm:-mx-0;
  }
  .d-main {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    grid-area: main;
    @apply text-base text-gray-700 p-3 md:p-10;
  }
  .d-relate {
    font-size: 10px;
    grid-area: relate;
  }
  .d-watch {
    font-size: 10px;
    grid-area: watch;
  }
  .d-recom {
    font-size: 10px;
    grid-area: recom;
  }


  .banner-inside {
    background-color: rgba(0, 0, 0, 0.2);
    @apply h-full flex flex-col content-center justify-center;
  }

  .detail-title {
    border-radius: 50% 20% / 10% 40%;
    @apply text-red-100 text-xl font-semibold  m-auto bg-opacity-20 py-2 px-6
    sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl line-clamp-1;
  }

  .detail-cover-image {
    @apply w-full  sm:-mt-20  lg:-mt-28 shadow-3xl border-4 rounded-sm
    border-dashed;
  }

}