@layer components {
  .home-grid-container {
    display: grid;
    grid-template-columns: 0.7fr 2fr 2fr 1.5fr 0.7fr;
    grid-template-rows: auto min-content auto max-content auto;
    grid-template-areas:
      "header header header header header"
      ".....  trending  trending  sidebar ....."
      ".....  alltime  alltime  sidebar ....."
      ".....  .....  .....  sidebar ....."
      "..... top100  top100 top100 ..... ";
    @apply gap-x-2 gap-y-7 md:gap-5 h-full;
  }

  @media screen and (max-width: 1024px) {
    .home-grid-container {
      grid-template-columns: 0.3fr 10fr 10fr 7fr 0.3fr;
      grid-template-areas:
        "header header header header header"
        ".....  trending  trending  sidebar ....."
        ".....  alltime  alltime  sidebar ....."
        ".....  .....  .....  sidebar ....."
        "..... top100   top100   top100     ..... ";
    }
  }

  @media screen and (max-width: 640px) {
    .home-grid-container {
      grid-template-columns: 1fr 50fr 1fr;
      grid-template-areas:
        "header header header"
        "..... sidebar    ....."
        "..... trending ....."
        "..... alltime   ....."
        "top100 top100 top100";
    }
  }

  .home-page-container {
    .h-header {
      grid-area: header;
      @apply bg-indigo-50 rounded shadow-lg;
      > div:first-child {
        > h3 {
          @apply text-center text-xl font-semibold py-3 mx-2;
        }
      }
      > div:last-child {
        @apply mx-1;
        > h3 {
          @apply text-center text-xl font-semibold py-3 mx-2;
        }
      }
    }
    .h-sidebar {
      grid-area: sidebar;
      min-width: 260px;
    }
    .h-trending {
      grid-area: trending;
      @apply text-gray-700 p-3 md:p-10 bg-indigo-50 shadow-lg rounded;
      > h3 {
        @apply text-left text-2xl font-semibold py-3 mx-3;
      }
    }

    .h-alltime {
      grid-area: alltime;
      @apply text-gray-700 p-3 md:p-10 bg-indigo-50 shadow-lg rounded;
      > h3 {
        @apply text-left text-2xl font-semibold py-3 mx-3;
      }
    }
    .h-top100 {
      grid-area: top100;
      @apply text-gray-700 p-3 md:p-10 bg-indigo-50 shadow-lg rounded;
      > h3 {
        @apply text-left text-2xl font-semibold py-3 mx-3;
      }
    }
  }
}
